[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
python-dotenv = "*"
gettemperature = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
